:root{
    --bs-warning:#ffc107;
    --bs-body-font-family:'Josefin Sans';
    --bs-font-monospace:'Open Sans';
    --bs-gradient:linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
    --shadow:-4.828px -4.828px 12px 0px rgb(255 200 39 / 40%), 3px 5px 15px 0px rgb(255 82 1 / 20%);
}
.py-120{
    padding-top: 120px;
    padding-bottom: 120px;
}
body{
    background-color: #350b2d;
    font-family: var(--bs-body-font-family);
    color: var(--bs-white);
    font-weight: 400;
    line-height: 1.5;
}
img{
    width: 100%;
}
.bg-img{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;

}
.title{
    margin-bottom: 30px;
}
h2{
    font-size: 48px;
    font-weight: 700;
    margin: 0;
    line-height: 1.4;
    color: #fff;
    font-family: "Josefin Sans", sans-serif;
    margin-bottom: 15px;
}
p{
    margin-bottom: 15px;
    font-size: 19px;
    line-height: 1.7;
}
.box-shadow{
    box-shadow:var(--shadow);
}
.overlay{
    position: relative;
    z-index: 1;
}
.overlay::after{
    position:absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:#350b2d;
    opacity: 0.8;
    z-index: -1;

}
header{
    position: absolute;
    z-index: 99;
    width: 100%;
}
.navbar-nav{
    --bs-nav-link-color:#fff;
    text-transform: uppercase;
    font-size: 14px;
}
.nav-link a{
    padding: 4px 15px;
}
.nav-link:focus, .nav-link:hover{
    color: var(--bs-nav-link-color);
}
.dropdown-menu{
    --bs-dropdown-bg:#350b2d;   
    --bs-dropdown-link-color:#FFF;
    border: 2px solid rgba(255, 200, 39, 0.4);
    box-shadow: 0 3px 12px 3px rgb(255 82 1 / 10%);
}
.dropdown-item:focus, .dropdown-item:hover{
    color: var(--bs-dropdown-bg);
    background-color: var(--bs-warning);
}
.offcanvas{
    --bs-offcanvas-bg:rgba(53, 11, 45,0.5);
    backdrop-filter: blur(5px);
    --bs-offcanvas-width: 100%;
    --bs-offcanvas-height: 100vh;
}
.offcanvas-body{
    display: flex;
    justify-content: center;
}
.modal{
    --bs-modal-width:100%;
    --bs-modal-height:100vh;    
}
.modal-header{
    background-image: url('../img/bg2.jpg');
    background-position: top;
}
.modal .title{
    text-align: center;
}
.modal-body{
    background-image: url('../img/bg.jpg');
}
.modal-body form{
    width: 90%;
    padding: 100px 60px;
    display: inline-block;
    border: 1px solid rgba(255, 255, 255, 0.17);
    text-align: center;
    backdrop-filter: blur(15px);
    background: rgba(53, 11, 45, 0.8);
    border-radius: 25px;
    margin: 0 auto;

}
.modal-body .title{
    text-align: center;
}
.input-group{
    border: 1px solid rgba(255, 255, 255, 0.17);
    border-radius: 0.375rem;
}
.form-control , .form-select{
    display: inline-block;
    background-color: transparent;
    border: none;
    color: #FFF;
}
.form-control::placeholder{
    color:#FFF;
}
.form-select  option{
    background-color: #2e0327;
}
.form-select:focus{
    background-color:#fff;
    border-color:none;
    outline: 0;
    box-shadow:none;
    background-color: transparent;
}
.input-group-text{
    background: rgba(255, 200, 39, 0.1);
    color: #ff9c19;
    border: none;
}
.form-control:focus{
    background-color:#fff;
    border-color:none;
    outline: 0;
    box-shadow:none;
    background-color: transparent;
}
.modal-body .logo{
    width: 170px;
}
.form-check-input:checked {
    background-color: #ff9c19;
    border: none;
}
.form-check-input:focus{
    box-shadow: -5px -5px 20px 0px rgb(255 200 39 / 60%), 3px 5px 20px 0px rgb(255 82 1 / 20%);
}
.modal-footer{
    background-image: url('../img/bg2.jpg');
    justify-content: center;
    position: relative;
}
.shape-modal{
    width: 150px;
    position: absolute;
    bottom: 0;
    right: 0;
}
.modal-footer>*{
    margin: 0;
}
.banner , .product{
    background-image: url('../img/bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
    padding:  100px 0px;
}
<<<<<<< HEAD
.banner::after , .about::after , .product::after , .game-item::after , .why::after , .how::after , .modal-header::after , .modal-body::after , .modal-footer::after , .players::after , .winner::after{
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 1;
    background-color: #350b2d;
    opacity: 0.8;
    z-index: -1;
}
=======
>>>>>>> 0361f0eb4163811305bcc6d60934e55679cc1f6b
.card , .about-img , .why-img{
    position: absolute;
    background-color: transparent;
    width: 225px;
    z-index: -1;
}
.banner-img img{
    width: 100%;
}
.banner h1{
    font-size: 68px;
    font-weight: 700;
    margin: 0;
    line-height: 1.4;
    font-family: var(--bs-body-font-family);
}
.banner p{
    font-size: 22px;
}
.btn{
    background:linear-gradient(0deg, #ff9c19 40%, #ffdd2d 110%);
    padding: 12px 35px;
    font-size: 19px;
    font-weight: 500;
    border-radius: 10px;
    border: 0;
}
.btn:hover{
    color: #1f1f23;
    box-shadow: -5px -5px 20px 0px rgb(255 200 39 / 60%), 3px 5px 20px 0px rgb(255 82 1 / 20%);
}
.about{
    position: relative;
}
.about-img{
    width: 300px;
}
.product{
    background-image: url('../img/bg3.jpg');    
}
.product .title , .how .title{
    text-align: center;
}
.game-item{
    background-image: url('../img/game-item.png');
    position: relative;
    z-index: 1;
    box-shadow:-3.828px -3.828px 6px 0px rgb(255 200 39 / 40%), 3px 5px 8px 0px rgb(255 82 1 / 20%);
    transition: all 0.3s ease;
    text-align: center;
    padding: 40px 30px;
    margin-bottom: 30px;
    border-radius: 10px;
    overflow: hidden;
}
.game-item .ball{
    position: relative;
    box-shadow: -3.828px -3.828px 6px 0px rgb(255 200 39 / 40%), 3px 5px 8px 0px rgb(255 82 1 / 20%);
}
.game-item .ball{
   position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    transform: rotate(45deg);
    -webkit-transition: all ease .3s;
    -moz-transition: all ease .3s;
    transition: all ease .3s;
}
.game-item:hover .ball{
    width: 40px;
    height: 40px;
}
.game-item:hover{
    box-shadow: -4.828px -4.828px 12px 0px rgb(255 200 39 / 40%), 3px 5px 15px 0px rgb(255 82 1 / 20%)
}
.game-img{
    width: 100%;
    height: 140px;
    margin: 0 auto 25px;
    border: 1px solid rgba(255, 255, 255, 0.17);
    border-radius: 7px;
    background: #2e0327;
    padding: 10px;
}
.game-img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}
.game-contact h4{
    margin-bottom: 20px;
}
.game-contact span{
    display: block;
    font-size: 18px;

}
.game-contact strong{
    margin-bottom: 15px;
    display:block;
    color: var(--bs-warning);
    font-weight: 300;
    font-size: 18px;

}
.game-contact .btn{
    padding: 10px 25px;
    border-radius: 0;
    font-size: 15px;
}
.why-img{
    width: 720px;
}
.why-icon{
    color: #1f1f23;
    border: 6px solid #350b2d;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    margin-bottom: 20px;
    background: linear-gradient(0deg, #ff9c19 40%, #ffdd2d 110%);
    text-align: center;
}
.why-icon i{
    line-height: 65px;
    font-size: 30px;
}
.how{
    background-image: url('../img/bg.jpg');
}
.how-box{
    text-align: center;
    margin-top: 30px;
    position: relative;
    z-index: 1;
}
.how-box::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 0;
    border: 1px dashed rgba(255, 200, 39, 0.7);
    top: 60px;
    z-index: -1;
}
.afternone::after{
    display: none;
}
.how-icon{
    width: 120px;
    height: 120px;
    background: #350b2d;
    border-radius: 50%;
    font-size: 46px;
    margin: 0 auto 30px;
    position: relative;
    text-align: center;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center
}
.how-icon i{
    line-height: 120px;
    transition: all 0.3s ease;
}
.how-box:hover .how-icon{
    background: linear-gradient(0deg, #ff9c19 40%, #ffdd2d 110%);
}  
.how-box:hover .how-icon i{
    color: #350b2d;
}
.how-box:hover .how-text h4{
    color: #ff9c19;
}
.faq-img{
    position: absolute;
    right: 0;
    top: 10%;
    width: 500px;
    z-index: -1;
}
.accordion{
    --bs-accordion-bg:var(--bs-dropdown-bg);
    --bs-accordion-active-bg:var(--bs-dropdown-bg);
}
.accordion-button:not(.collapsed){
    box-shadow: none;
}
.accordion-button:focus{
    box-shadow: none;
    border-color:none;
}
.accordion-button:not(.collapsed){
    color: var(--bs-warning);
}
.accordion-button{
    color: var(--bs-white);
    font-size: 18px;
}
.accordion-item {
    color: var(--bs-white);
    margin-bottom: 15px;
    border: 1px solid rgba(255, 200, 39, 0.15);
}
.accordion-button::after{
    background-image: var(--bs-accordion-btn-icon);
}
.accordion {
    --bs-accordion-btn-icon: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23FFFFFF' %3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e);
    --bs-accordion-btn-active-icon: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffc107' %3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e);
}
.winner{
    background-image: url('../img/winner-bg.png');

}
.player-img{
    width: 100px;
    height: 100px;
    background-color: #ffdd2d;
    border-radius: 50%;
    border: 8px solid #350b2d;
    box-shadow: -4.828px -4.828px 12px 0px rgb(255 200 39 / 40%), 3px 5px 15px 0px rgb(255 82 1 / 20%);
    position: relative;
    object-fit:cover;
}
.player-img img{
    border-radius: 50%;
    object-position: center;
    object-fit: cover;
}
.amount{
    background-color: #ffdd2d;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%);
    padding: 4px 20px;
    border-radius: 30px;
    font-size: 16px;
    line-height: 1;
}
.winner-img{
    width:250px ;
    display: block;
    margin: 10px auto;
}








.players{
    position: relative;
    padding-top: 0;
    z-index: 1;
}
.carousel-nav-icon {
    height: 48px;
    width: 48px;
}
.carousel-nav-icon svg{
   fill: #ff9c19;
}
.carousel-item .col, .carousel-item .col-sm, .carousel-item .col-md{
    margin: 8px;
    height: 330px;
    background-size: cover;
    background-position: center center;
    background-image: url('../img/slider-bg.png');
    padding: 25px;
    position: relative;
    z-index: 1;
    box-shadow: var(--shadow);

}
.slider-1::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background-color: #2e0327;
    left: 0;
    top: 0;
    opacity: 0.8;
    z-index: -1;
}
.slider-1 i{
    color: var(--bs-warning);
    font-size: 52px;
    display: block;
    line-height: 0;
}
.slider-1 p{
    font-size: 16px;
    margin-bottom: 25px;
}
.dp{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--bs-warning);
    overflow: hidden;
    margin-right: 15px;
}
.dp img{
    width: 100%;
    height:100%;
    object-fit: cover;
    object-position: center;
}
.dp-text span{
    color: var(--bs-warning);
    font-size: 16px;
} 

footer{
    background-image: url('../img/bg\ \(1\).jpg');
    padding-top: 30px;
    padding-bottom: 30px;
<<<<<<< HEAD
}
footer::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background-color: #2e0327;
    left: 0;
    top: 0;
    opacity: 0.8;
    z-index: -1;
}
/* about-banner */
.about-banner{
    background-image: url('../img/about-img.jpg');
}
.breadcrumb a{
    color: var(--bs-dropdown-link-color);
    text-decoration: none;
}


/* game */
=======
}
>>>>>>> 0361f0eb4163811305bcc6d60934e55679cc1f6b
